<div class="content">

  <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="email" formControlName="email" type="email" id="email">
      <label class="mdl-textfield__label" for="email">Email</label>
      <div *ngIf="modelForm.controls.email.touched">
        <div class="mdl-textfield__error error-label" *ngIf="formErrors.email">{{ formErrors.email }}</div>
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="password" formControlName="password" type="password" id="password">
      <label class="mdl-textfield__label" for="password">Haslo</label>
      <div *ngIf="modelForm.controls.password.touched">
        <div class="mdl-textfield__error error-label" *ngIf="formErrors.password">{{ formErrors.password }}</div>
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="matchingPassword" formControlName="matchingPassword" type="password" id="repassword">
      <label class="mdl-textfield__label" for="repassword">Powtorz haslo</label>
      <div *ngIf="modelForm.controls.matchingPassword.touched">
        <div class="mdl-textfield__error error-label" *ngIf="modelForm.hasError('mismatchedPasswords')">{{ validationMessages.mismatchedPasswords }}</div>
      </div>
    </div>

    <button class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-register" [disabled]="!modelForm.valid" type="submit">Zarejestruj</button>
  </form>
  <hr>
  <p>Posiadasz juz konto?</p>
  <button class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-submit" (click)="goToLogin()">Zaloguj sie</button>
</div>
