<div class="content">
  <h2>AukcLinker</h2>
  <h3>Zarejestruj sie, aby zarzadzac wszystkimi swoimi aukcjami jednoczesnie</h3>

  <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
    <input name="email" formControlName="email" type="email" placeholder="E-mail">
    <div *ngIf="modelForm.controls.email.touched">
      <span *ngIf="formErrors.email">{{ formErrors.email }}</span>
    </div>

    <input name="password" formControlName="password" type="password" placeholder="Haslo">
    <div *ngIf="modelForm.controls.password.touched">
      <span *ngIf="formErrors.password">{{ formErrors.password }}</span>
    </div>

    <input name="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Powtorz haslo">
    <div *ngIf="modelForm.controls.confirmPassword.touched">
      <span *ngIf="formErrors.confirmPassword">{{ formErrors.confirmPassword }}</span>
      <span *ngIf="modelForm.hasError('mismatchedPasswords')">{{ validationMessages.mismatchedPasswords }}</span>
    </div>

    <button [disabled]="!modelForm.valid" type="submit">Zarejestruj</button>
  </form>
  <h3>Posiadasz juz konto?</h3>
  <button (click)="goToLogin()">Zaloguj sie</button>
</div>
