
<div *ngIf="attributes && attributesFormGroup">
  <form [formGroup]="attributesFormGroup" novalidate>

    <span *ngFor="let attribute of attributes">
        <div class="attribute-container" [ngSwitch]="attribute.formType">

          <span *ngSwitchCase="'RADIOBUTTON'">
            <fieldset>
              <legend>
                <span *ngIf="attribute.required === true" style="color: red;">*</span>
                {{attribute.name}}
              </legend>
              <div *ngFor="let val of attribute.possibleValues">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{attribute.id}}_{{val.id}}">
                  <input class="mdl-radio__button" type="radio" name="{{attribute.id}}" id="{{attribute.id}}_{{val.id}}" formControlName="{{attribute.id}}" [value]="val.id"/>
                  <span class="mdl-radio__label">{{val.value}}</span>
                </label>
              </div>
            </fieldset>
          </span>

          <span *ngSwitchCase="'COMBOBOX'">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <select class="mdl-textfield__input" id="{{attribute.id}}" name="{{attribute.name}}" formControlName="{{attribute.id}}">
                <option class="option-class" *ngFor="let val of attribute.possibleValues" value="{{val.id}}">{{val.value}}</option>
              </select>
            <label class="mdl-textfield__label" for="{{attribute.id}}">
              <span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}
            </label>
            </div>
          </span>

          <span *ngSwitchCase="'CHECKBOX'" formGroupName="{{attribute.id}}">
            <span>
              <span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}
            </span>
            <div *ngFor="let val of attribute.possibleValues">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input class="mdl-checkbox__input" type="checkbox" formControlName="{{val.id}}">
                <span class="mdl-checkbox__label">{{val.value}}</span>
              </label>
            </div>
          </span>

          <div *ngSwitchCase="'INTEGER'" class="mdl-textfield mdl-js-textfield">
             <label class="mdl-textfield__label">
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input class="mdl-textfield__input" type="number" formControlName="{{attribute.id}}">
          </div>

          <span *ngSwitchCase="'IMAGE'">
             <label>
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input [attr.data-pic]="attribute.id" type="file" accept="image/*" formControlName="{{attribute.id}}" (change)="getFile($event)" value="gg">
          </span>


          <div *ngSwitchCase="'TEXTAREA'" class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label">
              <span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}
            </label>
            <textarea class="mdl-textfield__input" formControlName="{{attribute.id}}" rows="3"></textarea>
          </div>

          <span *ngSwitchCase="'DATA'">
             <label>
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input type="date" formControlName="{{attribute.id}}">
          </span>

          <span *ngSwitchCase="'DATATIME'">
             <label>
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input type="datetime" formControlName="{{attribute.id}}">
          </span>

          <div *ngSwitchDefault="" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <label class="mdl-textfield__label">
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input class="mdl-textfield__input" type="text" formControlName="{{attribute.id}}">
          </div>

        </div>
    </span>

    <button type="submit" (click)="addNewAuction()">Submit</button>
  </form>
</div>
