
<div *ngIf="attributes && attributesFormGroup" class="content mdl-shadow--2dp">
  <form [formGroup]="attributesFormGroup" novalidate>

    <span *ngFor="let attribute of attributes">
        <div class="attribute-container" [ngSwitch]="attribute.formType">

          <span *ngSwitchCase="'RADIOBUTTON'">
            <fieldset>
              <legend>
                <span *ngIf="attribute.required === true" style="color: red;">*</span>
                {{attribute.name}}
              </legend>
              <div *ngFor="let val of attribute.possibleValues">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{attribute.id}}_{{val.id}}">
                  <input class="mdl-radio__button" type="radio" name="{{attribute.id}}" id="{{attribute.id}}_{{val.id}}" formControlName="{{attribute.id}}" [value]="val.id"/>
                  <span class="mdl-radio__label">{{val.value}}</span>
                </label>
              </div>
            </fieldset>
          </span>

          <span *ngSwitchCase="'COMBOBOX'">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <select class="mdl-textfield__input" id="{{attribute.id}}" name="{{attribute.name}}" formControlName="{{attribute.id}}">
                <option class="option-class" *ngFor="let val of attribute.possibleValues" value="{{val.id}}">{{val.value}}</option>
              </select>
            <label class="mdl-textfield__label" for="{{attribute.id}}">
              <span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}
            </label>
            </div>
          </span>

          <span *ngSwitchCase="'CHECKBOX'" formGroupName="{{attribute.id}}">
            <span>
              <span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}
            </span>
            <div *ngFor="let val of attribute.possibleValues">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input class="mdl-checkbox__input" type="checkbox" formControlName="{{val.id}}">
                <span class="mdl-checkbox__label">{{val.value}}</span>
              </label>
            </div>
          </span>

          <div *ngSwitchCase="'INTEGER'">
            <div *ngIf="attribute.id != '2'" class="mdl-textfield mdl-js-textfield">
             <label class="mdl-textfield__label">
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input class="mdl-textfield__input" type="number" formControlName="{{attribute.id}}">
            </div>
            <!--<div *ngIf="attribute.id == '2'" class="mdl-textfield mdl-js-textfield" style="display: none;">-->
             <!--<label class="mdl-textfield__label">-->
               <!--<span *ngIf="attribute.required === true" style="color: red;">*</span>-->
               <!--{{attribute.name}}-->
             <!--</label>-->
             <!--<input class="mdl-textfield__input" type="number" formControlName="{{attribute.id}}" value="{{categoryId}}">-->
            <!--</div>-->
          </div>

          <span *ngSwitchCase="'IMAGE'">
            <p><span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}</p>
            <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">file_upload</i>
              <input [attr.data-pic]="attribute.id"
                     type="file"
                     accept="image/*"
                     style="display: none;"
                     (change)="addImage($event)"
                     value="gg" multiple />
            </label>
            <div id="pictures" #pictures>
              <img *ngFor="let value of attribute.possibleValues"
                   style="height: 150px; margin: 10px; display: none;"
                   [attr.data-picid]="value.id"/>
            </div>
          </span>




          <div *ngSwitchCase="'TEXTAREA'" class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label">
              <span *ngIf="attribute.required === true" style="color: red;">*</span>
              {{attribute.name}}
            </label>
            <textarea class="mdl-textfield__input" formControlName="{{attribute.id}}" rows="3"></textarea>
          </div>

          <span *ngSwitchCase="'DATA'">
             <label>
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input type="date" formControlName="{{attribute.id}}">
          </span>

          <span *ngSwitchCase="'DATATIME'">
             <label>
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input type="datetime" formControlName="{{attribute.id}}">
          </span>

          <div *ngSwitchDefault="" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <label class="mdl-textfield__label">
               <span *ngIf="attribute.required === true" style="color: red;">*</span>
               {{attribute.name}}
             </label>
             <input class="mdl-textfield__input" type="text" formControlName="{{attribute.id}}">
          </div>

        </div>
    </span>

    <button class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            type="submit"
            (click)="addNewAuction()">Wystaw przedmiot</button>
  </form>
</div>
