@import "../../../../../colors";

.attribute-container {
  padding: 10px;
  font-size: 14px;
}

.input-label {
  display: block;
}

.content {
  background: #fafafa;
  margin: 10pt auto;
  width: 80%;
  padding: 20pt;
  min-width: 240px;
}
