@import "../../../../../colors";

.service {
  background: $baseWhite;
  margin: 20pt auto;
  width: 80%;
  padding: 20pt;
  min-width: 240px;

  &__logo {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      vertical-align: baseline;
    }

  }

  &__status {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    &__info {
      font-size: 1.6em;
      margin: 0;
      padding-bottom: 5pt;
      padding-top: 5pt;
      color: $baseBlack;

      span {
        font-weight: 700;
      }

      .expiration-date {
        color: rgb(105, 226, 127);
      }
    }

    &__button {
      background-color: rgb(105, 226, 127);
      border: none;
      font-size: 1.4em;
      padding: 8pt 20pt;
      color: $baseBlack;
      width: 100%;
      font-weight: 600;
      margin-bottom: 5pt;
      margin-top: 10pt;
    }
  }
}

@media (min-width: 620px) and (max-width: 920px) {
  .service {
    //width: initial;

    &__logo {
      display: inline-block;
      width: 36%;
      float: none;
    }

    &__status {
      display: inline-block;
      margin-left: 10pt;
      width: 60%;
    }
  }
}

@media (min-width: 921px) {
  .service {
    width: 35%;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
  }
}
