<div class="content">
  <p>Zaloguj sie, aby zarzadzac wszystkimi swoimi aukcjami jednoczesnie</p>

  <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">

    <input formControlName="email" type="email" placeholder="E-mail">
    <div *ngIf="modelForm.controls.email.touched">
      <span *ngIf="modelForm.controls.email.invalid">{{validationMessages.required}}</span>
    </div>

    <input formControlName="password" type="password" placeholder="Haslo">
    <div *ngIf="modelForm.controls.password.touched">
      <span *ngIf="modelForm.controls.password.invalid">{{validationMessages.required}}</span>
    </div>

    <button class="btn btn-submit" [disabled]="!modelForm.valid" type="submit">Zaloguj</button>
  </form>

  <hr>
  <p>Nie posiadasz jeszcze konta?</p>
  <button class="btn btn-submit" (click)="goToRegister()">Zarejestruj</button>
  <button class="btn btn-fb">Zaloguj przez Facebook</button>
  <button class="btn btn-gp">Zaloguj przez Google+</button>
</div>
