<div *ngIf="categories" class="content mdl-shadow--2dp">
  <div class="service__logo">
    <img src="../../../../../assets/pic/allegro_logo.png">
  </div>
  <p *ngFor="let category of chosenCategories"
     [attr.data-id]="category.id"
     class="categories-links"
    (click)="backToCategory($event)">{{category.name}}</p>
  <br>
  <div *ngIf="categories.length"
       class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <h3 class="subtitle">Wybierz kategorie</h3>
    <select class="mdl-textfield__input"
            (change)="updateCategory($event)"
            id="categories-list">
      <option class="option-class">-- Wybierz --</option>
      <option *ngFor="let category of categories"
              value="{{category.id}}"
              class="option-class">{{category.name}}</option>
    </select>
  </div>
</div>
