<div class="content mdl-card mdl-shadow--2dp">
  <div class="container-offer-title mdl-card__title mdl-card--expand">
    <h2 class="offer-title mdl-card__title-text"><a class="link" href="{{offer.url}}">{{offer.title}}</a></h2>
    <button class="offer-remove"><img src="../../../../assets/pic/delete.svg"></button>
  </div>
  <div class="offer-content">
    <div class="offer-data--picture">
      <img style="width: 200px;" src="{{offer.thumbnailUrl}}">
    </div>
    <div class="offer-data">
      <div class="offer-data--item">Typ oferty:
        <span *ngIf="offer.offerType == 'BUY_NOW'">Kup teraz</span>
      </div>
      <div class="offer-data--item">Status oferty:
        <span *ngIf="offer.offerStatus == 'ACTIVE'">Aktywna</span>
        <span *ngIf="offer.offerStatus == 'UNSOLD'">Zakonczona (niesprzedana)</span>
        <span *ngIf="offer.offerStatus == 'SOLD'">Zakonczona (sprzedana)</span>
      </div>
      <div class="offer-data--item">Cena przedmiotu: {{offer.buyNowPrice}} {{offer.currency}}</div>
      <div class="offer-data--item">Ilosc przedmiotow: {{offer.listedQuantity}}</div>
      <div class="offer-data--item">Ilosc sprzedanych przedmiotow: {{offer.soldQuantity}}</div>
      <div class="offer-data--item">Data wygasniecia oferty: {{offer.endDate ? getDate(offer.endDate) : ' - '}}</div>
    </div>
  </div>
</div>
