.content {
  width: 81%;
  margin: 20px auto;
  text-align: center;
  min-height: 10px;
}

.offer-title {
  align-self: center;
  font-size: 32px;
  font-family: Robo, sans-serif;
}

.container-offer-title {
  background-color: rgba(224, 224, 224, 0.45);
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration:none;
    cursor:pointer;
  }
}

