<div class="content mdl-card mdl-shadow--2dp">
  <div class="container-offer-title mdl-card__title mdl-card--expand">
    <h2 class="offer-title mdl-card__title-text"><a class="link" href="{{offer.url}}">{{offer.title}}</a></h2>
  </div>
  <div>
    <p>Typ oferty: {{offer.offerType}}</p>
    <p>Status oferty: {{offer.offerStatus}}</p>
    <p>Cena przedmiotu: {{offer.buyNowPrice}} {{offer.currency}}</p>
    <p>Ilosc przedmiotow: {{offer.listedQuantity}}</p>
    <p>Ilosc sprzedanych przedmiotow: {{offer.soldQuantity}}</p>
    <!--<p>Data wygasniecia oferty: {{Date(offer.endDate)}}</p>-->
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Zobacz wiecej
    </a>
  </div>
</div>
