$baseBlack: rgba(30, 30, 30, 1);
$baseLightBlue: rgb(165, 178, 202);
$baseBlue: rgb(134, 168, 229);
$baseDarkBlue: rgb(68, 81, 123);
$baseGray: rgba(146, 153, 157, 1);
$baseDarkGray: rgba(80, 84, 86, 1);
$baseDarkGrayLabel: rgba(52, 52, 52, 1);
$baseDarkGrayButton: rgba(69, 73, 75, 1);
$baseWhite: rgba(231, 231, 231, 1);
$baseGreen: #009688;
