.wrapper {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.content header {
  background-color: #2196F3;
  padding-left: 20pt;
  margin: 0 0 10pt;
}

.content header h2 {
  font-size: 30pt;
  padding-top: 16pt;
  margin: 0;
}

.content header p {
  font-size: 12pt;
  margin: 0;
  padding-bottom: 24pt;
}
