<div class="wrapper">
  <div class="content">
    <header class="header">
      <h2 class="header__title">Witamy na AukcLink!</h2>
      <p class="header__greeting">Zapewniamy niezapomniane wrazenia i emocje jakie zapamietasz do konca zycia!</p>
    </header>
    <section class="position-tree"><div class="position-tree__item">A gdzie my jestesmy??</div></section>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list__label">Menu</li>
        <li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['new-auction']">Wystaw przedmiot</a></li>
        <li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['auctions-history']">Historia</a></li>
        <li class="main-nav__list__item"><a class="main-nav__list__item__link">Moje konto</a></li>
        <li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['account/services-connections']">Serwisy</a></li>
        <li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['account/password-management']">Zmiana hasla</a></li>
        <li class="main-nav__list__item"><a class="main-nav__list__item__link" href="#">Wyloguj</a></li>
      </ul>
    </nav>
    <main class="main-content">
      <p>Cala tresc</p>
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      A co my tu mamy?
    </footer>
  </div>
</div>
