<div class="wrapper">
  <div class="content">
    <header>
      <h2>Witamy na AukcLink!</h2>
      <p>Zapewniamy niezapomniane wrazenia i emocje jakie zapamietasz do konca zycia!</p>
    </header>
    <nav>
      <ul>
        <li><a href="#">Wystaw przedmiot</a></li>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Moje konto</a>
          <ul>
            <li><a href="#">Serwisy</a></li>
            <li><a href="#">Zmiana hasla</a></li>
          </ul>
        </li>
        <li><a href="#">Wyloguj</a></li>
      </ul>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
    <footer>

    </footer>
  </div>
</div>
