<!-- Always shows a header, even in smaller screens. -->
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header col-green">
    <div class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
    <div class="mdl-layout__header-row">
      <img src="../../assets/pic/Logo.svg" alt="logo" class="logo"/>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <header class="user-information">
      <div style="position: absolute; bottom: 0; padding: 0 20px; text-align: center">
        <img class="demo-avatar user-pic" src="../../assets/pic/user.jpg" >
        <div class="user-mail--wrapper">
          <span class="user-mail">{{mail}}</span>
        </div>
        <div>
        </div>
      </div>
    </header>
    <nav class="mdl-navigation navigation">
      <a class="mdl-navigation__link active-page" [routerLink]="['current-auctions']">Aktualne sprzedaze</a>
      <a class="mdl-navigation__link no-link">Wystaw przedmiot</a>
      <a class="sublink mdl-navigation__link" [routerLink]="['new-auction/ebay-new-auction']">eBay</a>
      <a class="sublink mdl-navigation__link" [routerLink]="['new-auction/allegro-new-auction']">Allegro</a>
      <a class="mdl-navigation__link" [routerLink]="['account/services-connections']">Serwisy</a>
      <a class="mdl-navigation__link" [routerLink]="['account/password-management']">Zmiana hasla</a>
      <a class="mdl-navigation__link" [routerLink]="['help/contact']">Kontakt</a>
      <button class="logout mdl-navigation__link" (click)="logOut()">Wyloguj</button>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!--<div class="wrapper">-->
<!--<div class="content">-->
<!--<header class="header">-->
<!--<h2 class="header__title">aLinker</h2>-->
<!--<p class="header__greeting">Zapewniamy niezapomniane wrazenia i emocje jakie zapamietasz do konca zycia!</p>-->
<!--</header>-->
<!--<section class="position-tree"><div class="position-tree__item">A gdzie my jestesmy??</div></section>-->
<!--<nav class="main-nav">-->
<!--<ul class="main-nav__list">-->
<!--<li class="main-nav__list__label">Menu</li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['new-auction']">Wystaw przedmiot</a></li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['current-auctions']">Aktualne sprzedaze</a></li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['auctions-history']">Historia</a></li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link">Moje konto</a></li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['account/services-connections']">Serwisy</a></li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link" [routerLink]="['account/password-management']">Zmiana hasla</a></li>-->
<!--<li class="main-nav__list__item"><a class="main-nav__list__item__link" href="#">Wyloguj</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--<main class="main-content">-->
<!--<router-outlet></router-outlet>-->
<!--</main>-->

<!--</div>-->
<!--<div class="footer__push"></div>-->
<!--</div>-->
<!--<footer class="footer">-->
<!--<div class="footer__logo">AukcLinker</div>-->
<!--<a class="footer__link" [routerLink]="['help/contact']">Kontakt</a>-->
<!--</footer>-->
